[submodule "endpoint"]
	path = endpoint
	url = https://github.com/ents-crew/uems-endpoint-cerberus.git
[submodule "uems-event-micro-dionysus"]
	path = uems-event-micro-dionysus
	url = https://github.com/ents-crew/uems-event-micro-dionysus.git
[submodule "uems-frontend-themis"]
	path = uems-frontend-themis
	url = https://github.com/ents-crew/uems-frontend-themis.git
[submodule "uems-gateway"]
	path = uems-gateway
	url = https://github.com/ents-crew/uems-gateway.git